<a href="https://colab.research.google.com/github/shreyal18ss/pyCodes/blob/master/Pandas" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,2))
df.index = [ 'row_' + str(i) for i in range(1, 6) ]
df

              0         1
row_1  0.547557  0.686596
row_2  0.343662  0.908782
row_3  0.772052  0.981890
row_4  0.095082  0.895151
row_5  0.625480  0.480396

In [0]:
ufo=pd.read_csv('https://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [0]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [0]:
ufo.Time.str.slice(-5,-3).astype(int).head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [0]:
ufo['Time']=pd.to_datetime(ufo.Time)

In [0]:
ufo.head()
ufo.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [0]:
ufo.Time.dt.hour

0        22
1        20
2        14
3        13
4        19
         ..
18236    23
18237    23
18238    23
18239    23
18240    23
Name: Time, Length: 18241, dtype: int64

In [0]:
ufo.Time.dt.dayofweek
#weekday_name

0        6
1        0
2        6
3        0
4        1
        ..
18236    6
18237    6
18238    6
18239    6
18240    6
Name: Time, Length: 18241, dtype: int64

In [0]:
ts=pd.to_datetime('1/1/1999')
ts

Timestamp('1999-01-01 00:00:00')

In [0]:
ufo.loc[ufo.Time>ts]

                    City Colors Reported  ... State                Time
12832          Loma Rica             NaN  ...    CA 1999-01-01 02:30:00
12833            Bauxite             NaN  ...    AR 1999-01-01 03:00:00
12834           Florence             NaN  ...    SC 1999-01-01 14:00:00
12835       Lake Henshaw             NaN  ...    CA 1999-01-01 15:00:00
12836  Wilmington Island             NaN  ...    GA 1999-01-01 17:15:00
...                  ...             ...  ...   ...                 ...
18236         Grant Park             NaN  ...    IL 2000-12-31 23:00:00
18237        Spirit Lake             NaN  ...    IA 2000-12-31 23:00:00
18238        Eagle River             NaN  ...    WI 2000-12-31 23:45:00
18239        Eagle River             RED  ...    WI 2000-12-31 23:45:00
18240               Ybor             NaN  ...    FL 2000-12-31 23:59:00

[5409 rows x 5 columns]

In [0]:
(ufo.Time.max() - ufo.Time.min()).days

25781

In [0]:
#df.set_index(['city','rank'], drop=False)

In [0]:
import pandas as pd
dates=pd.date_range(start='1-Sep-2017',end='15-Sep-2017')
print(dates[2])
print(dates.dtype)

2017-09-03 00:00:00
datetime64[ns]

In [0]:
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched=pd.to_datetime(datelist)
print(dates_to_be_searched)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

In [0]:
print(dates_to_be_searched.isin(dates))

[ True  True]

In [0]:
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]
# arraylist
myindex = pd.MultiIndex.from_arrays(arraylist)
print(myindex.levels)

FrozenList([['classA', 'classB'], ['s1', 's2', 's3', 's4', 's5']])

In [0]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
d + pd.Timedelta('1 days 2 hours')

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [0]:

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [0]:
pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [0]:
#df['A'].isnull()

In [0]:
# missing_values['n/a','na','--']
# df=pd.read_csv("xyz.csv",na_values=missing_values)
# df['A'].isnull()

In [0]:
# cnt=0
# for row in df['A']:
#   try:
#     int(row)
#     df.loc[cnt,'A']=np.nan
#   except ValueError:
#     pass
#   cnt+=1
# df['A'].isnull()

In [0]:
# df.isnull.sum()
# df.isnull.values.any()
# df.isnull.sum().sum()

In [0]:
# df['A'].fillna(125,inplace=True)
# df.loc(2,'A')=125
# df['A'].fillna(df['A'].mean(),inplace=True)

In [0]:
import pandas as pd
import numpy as np

heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index = ['s1', 's2', 's3', 's4', 's5'])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index = ['s1', 's2', 's3', 's4', 's5'])
# print(heights_A,end = "\n")
# print(weights_A,end = "\n")

df_A = pd.DataFrame(list(zip(heights_A,weights_A)), index = ['s1', 's2', 's3', 's4', 's5'], columns = ['Student_height', 'Student_weight'] )
df_A
# # print(df_A,end = "\n")
# # df_A
# df_A.loc['s3']=np.nan
# # df_A
# df_A.loc[['s5'],['Student_weight']]=np.nan
# # df_A
# df_A2=df_A.dropna()
# print(df_A2)
# df_A2['Student_height']

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [0]:
df_A_filter1=df_A[(df_A.Student_height>160) & (df_A['Student_weight']<80)]
print(df_A_filter1)

    Student_height  Student_weight
s3           167.6            76.8
s5           161.4            78.9

In [0]:
df_A_filter2=(df_A[df_A.index.str.endswith('5',na=False)])
df_A_filter2

    Student_height  Student_weight
s5           161.4            78.9

In [0]:
df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
df_groups=df_A.groupby(df_A.Gender)
# df_groups
print(df_groups.mean())

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

In [0]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),
                   'rain':pd.Series(100 + 50*np.random.randn(10)),
                   'location':list('AAAAABBBBB')
})
print(df.head(2))

        temp        rain location
0  43.154486  112.617882        A
1  32.146122   79.529918        A

In [0]:
replacements = {
'location': {'A':'Hyderabad', 'B':'Mumbai'}
}
df = df.replace(replacements, regex=True)
print(df.head(2))

        temp        rain   location
0  43.154486  112.617882  Hyderabad
1  32.146122   79.529918  Hyderabad

In [0]:
mumbai_data = df.loc[df.location.str.contains('umb'),:]

print(mumbai_data.head(2))

        temp        rain location
5  30.474388  239.574905   Mumbai
6  28.127446  168.699226   Mumbai

In [0]:
regions = df.groupby('location')
print(regions.mean())

                temp        rain
location
Hyderabad  31.449408  128.328543
Mumbai     28.890962  160.201643

In [0]:
import pandas as pd
import numpy as np

heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index = ['s1', 's2', 's3', 's4', 's5'])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index = ['s1', 's2', 's3', 's4', 's5'])
# print(heights_A,end = "\n")
# print(weights_A,end = "\n")

df_A = pd.DataFrame(list(zip(heights_A,weights_A)), index = ['s1', 's2', 's3', 's4', 's5'], columns = ['Student_height', 'Student_weight'] )

df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
s=pd.Series([165.4, 82.7, 'F'], index=['Student_height', 'Student_weight', 'Gender'], name='s6')
df_AA=df_A.append(s)
print(df_AA)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F
s6           165.4            82.7      F

In [0]:
np.random.seed=100
heights_B =pd.Series(np.random.normal(loc=170 ,scale=25 , size=5), index = ['s1', 's2', 's3', 's4', 's5'])
np.random.seed=100
weights_B  =pd.Series(np.random.normal(loc=75 ,scale=12 , size=5), index = ['s1', 's2', 's3', 's4', 's5'])
df_B=pd.DataFrame(list(zip(heights_B,weights_B)),index = [ 's7', 's8', 's9', 's10', 's11'], columns = ['Student_height', 'Student_weight'] )
df_B['Gender']=['F', 'M', 'F', 'F', 'M']
df=pd.concat([df_AA,df_B],axis=1, join='inner')
print(df)

TypeError: ignored

In [17]:
nameid = pd.Series(range(101, 111))
name = pd.Series(['person' + str(i) for i in range(1, 11)])
master =pd.DataFrame(list(zip(nameid,name)),columns = ['nameid', 'name'] )
transaction = pd.DataFrame({'nameid':[108, 108, 108,103], 'product':['iPhone', 'Nokia', 'Micromax', 'Vivo']})
mdf=master.merge(transaction,on='nameid')
print(mdf)

   nameid     name   product
0     103  person3      Vivo
1     108  person8    iPhone
2     108  person8     Nokia
3     108  person8  Micromax

In [32]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
# del df['a']
df.shape

(2, 2)

In [31]:
x=pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')
len(x)

1

In [35]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df.shape

(2, 3)